/* Common Styles */
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700&family=Lato:ital@1&family=Jockey+One&display=swap');

body {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    margin: 0;
    padding: 0;
    background-color: white;
    color: #d40000;
    display: flex;
    flex-direction: column;
    height: 100vh; /* Fix the height to the viewport */
    overflow: hidden; /* Prevent scrolling */
}

header {
    text-align: center;
    margin-bottom: 80px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-family: 'Jockey One', sans-serif;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #7f7f7f;
    font-weight: bold;
    font-size: 1em;
}

nav ul li a.active, nav ul li a:hover {
    color: black;
}

/* Main Content Styles */
main {
    margin: 20px 50px;
}

.title-container {
    text-align: center;
    margin-bottom: 60px;
}

h1 {
    font-size: 3em;
    color: #d40000;
    letter-spacing: 0.3em;
    line-height: 1.1em;
    font-weight: 400;
    margin: 0;
}

h1 span {
    font-weight: 700;
    display: inline;
}

/* Specific to Grid Layout */
main .grid-container {
    position: relative;
    width: 100%;
    height: calc(100vh - 150px - 70px); /* Adjust grid height: viewport - header - timeline and author */
    overflow: hidden;
}

.token {
    position: absolute;
    display: inline-block;
}

.token img {
    display: block;
    max-width: 100px;
    max-height: 100px;
}

/* Timeline Styles */
.timeline {
    text-align: center;
    font-size: 1em;
    color: #d40000;
    position: relative;
    z-index: 10;
    height: 50px; /* Set a fixed height for the timeline */
    line-height: 50px; /* Vertically center the text */
    width: 100%;
    background-color: white;
    margin-bottom: 20px; /* Add margin to keep it away from the footer */
}

.timeline p {
    display: inline-block;
    margin-right: 15px;
}

/* Footer Styles */
footer.author-footer {
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px 50px;
    text-align: right;
    background-color: white;
    box-sizing: border-box;
}

.author {
    font-family: 'Lato', sans-serif;
    font-style: italic;
    color: #d40000;
    font-size: 1em;
    margin: 0;
}

.author a {
    color: #d40000;
    text-decoration: none;
}

.author a:hover {
    text-decoration: underline;
}

.token {
    width: 100px; /* Adjust the size as needed */
    height: auto;
    visibility: visible;
}
